body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;

}
h2 {
  text-align: center;
  color: #333;

}

.form {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 5%;
  margin-left: 6%;

}

label {
  font-size: 16px;
  margin-right: 10px;
  color: #333;
}

input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #28a745;
}
.data{
  display: flex;
  margin-left: 20%;
  border: 2px solid red;
}
p{
  /* color: white; */
}